body {
    background-color: wheat;
    background-size: cover;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

.rock,.paper,.scissors{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: black;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

.game-container{
    padding: 50px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

#rock{
    background: url(./images/Rock.svg);
}
#paper{
    background-image: url(./images/Paper.svg);
}
#scissors{
    background-image: url(./images/Scissors.svg);
}

